@page "/models/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Vehicle</h3>
<br />
<hr />

<EditForm Model="@model" OnValidSubmit="CreateModel">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label>Name:</label>
        <InputText @bind-Value="@model.Name" class="form-control"></InputText>
        <ValidationMessage For="@(() => model.Name)"></ValidationMessage>
    </div>  
    <button type="submit" class="btn btn-primary btn-block">Create Model</button>
</EditForm>


@code {
    Model model = new Model();
    


    private async Task CreateModel()
    {
        await _client.PostAsJsonAsync(Endpoints.ModelsEndpoint, model);
        _navManager.NavigateTo("/models");
    }
}