@inject NavigationManager _navManager

<a href="@url" class="btn btn-secondary btn-block">
    <span class="oi oi-arrow-thick-left"></span>Back to List
</a>
@code{
    [Parameter] public string ListUrl { get; set; }
    private string url
    {
        get
        {
            return _navManager.BaseUri + ListUrl; 

        }
    }
}
